body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  color: #141414;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.content {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
  }
}
